NODE_ENV=dev

PORT=3001
DB=
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=''
DB_DIALECT=mysql

CORS_ORIGIN=http://localhost:3101,http://localhost:3000

API_PREFIX=/api/v1/
JWT_KEY=

EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASS=
